{% extends 'base.html' %}

{% block content %}
<table class="table">
 <thead>
 <tr>
<th>name</th>
     <th>Price</th>
     <th>Price sale</th>
     <th>sale %</th>
 </tr>
 </thead>
     <tfoot>
    <tr>
<th>name</th>
     <th>Price</th>
     <th>Price sale</th>
     <th>sale %</th>
    </tr>
  </tfoot>
      <tbody>
      {% for item in lists|sort(attribute='sale')%}
    <tr>
      <td><a href="{{ item.url }}" target="_blank" title="{{ item.name }}">{{ item.name }}</a></td>
      <td>{{ item.price }}</td>
        <td>{{ item.price_sale }}</td>
      <td>{{item.sale}}</td>
    </tr>
      {% endfor %}
      </tbody>
</table>
{{lists|count}}


{% endblock %}