{% extends 'base.html' %}
{% block content %}
{% include 'main.html'%}
<h3 class="subtitle subtitled">
 1. Go on the website <strong>https://www.asos.com/</strong>
</h3>
<h3 class="subtitle subtitled">
 2. Select parameter 'sale' in catalog
</h3>
<h3 class="subtitle subtitled">
 3. Copy full url address asos.com/...
</h3>
<h3 class="subtitle subtitled">
 4. Insert URL in search
</h3>
<h2 class="subtitle subtitled">
Example:  <strong>https://www.asos.com/men/shoes-boots-trainers/cat/?cid=4209&-currentpricerange=0-400&nlid=mw|shoes|shop%20by%20product&refine=range:sale
</strong>
</h2>

<h2 class="subtitle subtitled">
 You must select the discount "sale" in the parameters catalog!
</h2>

{% endblock %}